.v-miniprogram {
    .m-pvx-reputation-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 12px;
        padding: 10px 20px;
        box-sizing: border-box;
        width: 100%;
        min-height: 80px;
        border-radius: 10px;
        background-color: #fff;
        border: 1px solid #fff;
        box-shadow: none;
        cursor: pointer;
        transition: @pvx-transition-normal;

        @media (prefers-color-scheme: dark) {
            background-color: @pvx-dark-card;
            border-color: @pvx-dark-card;
        }
    }

    .m-pvx-reputation-item .m-pvx-reputation-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 0;
        width: auto;
        gap: 4px;

        .u-pvx-reputation-name {
            color: @pvx-text-primary;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;

            @media (prefers-color-scheme: dark) {
                color: @pvx-dark-text;
            }
        }
    }

    .u-pvx-reputation-icon--miniprogram {
        .db;
        display: flex;
        padding: 6px 10px;
        .size(30px);
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        .r(30px);
        background-color: @pvx-text-primary;
        color: @pvx-dark-text;

        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        flex-shrink: 0;

        @media (prefers-color-scheme: dark) {
            color: @pvx-text-primary;
            background-color: @pvx-dark-text;
        }
    }

    .u-pvx-reputation-desc--miniprogram {
        .db;
        color: @pvx-text-80;

        font-family: "Microsoft YaHei";
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;

        word-break: break-all;

        @media (prefers-color-scheme: dark) {
            color: @pvx-dark-text-80;
        }
    }
}
