.m-pvx-horse-broadcast {
    .mt(40px);

    .m-pvx-horse-broadcast__header {
        .flex(y);
        .mb(0) !important;
        align-items: flex-end;
        gap: 20px;

        .u-pvx-horse-title {
            .bold;
            .fz(28px, 42px);
            .h(42px);
            color: #24292e;
        }

        .el-select {
            .size(105px, 40px);

            .el-select__wrapper {
                .r(30px);
                background-color: #f5f5f5;
                .h(100%);
            }

            span {
                .flex(o);
                border: none;
                .size(100%, 40px);
                .x(center);
                .bold;
                .fz(16px);
                color: #24292e;
            }

            .el-select__input {
                padding: 0 10px;
                border: none;
                .size(100px, 40px);
                .r(30px);
                .x(center);
                .bold;
                .fz(16px);
                color: #24292e;
            }

            .el-select__suffix {
                .none;
            }
        }
    }

    .m-pvx-horse-broadcast__list {
        .flex;
        .mt(20px);
        .gap(40px);
        .h(192px);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        padding: 20px;
        .r(10px);
        box-sizing: initial;

        .u-pvx-horse-map {
            .size(306px, 192px);
            .r(10px);
            flex-shrink: 0;
            overflow: hidden;
        }

        .m-pvx-horse-broadcast__list-items {
            .pr;
            .flex;
            flex-direction: column;
            flex-wrap: wrap;
            .w(100%);
            .gap(3px);
            column-gap: 40px !important;

            &::before {
                content: "";
                .pa;
                left: 50%;
                top: 20px;
                .ml(-1px);
                .size(2px, 56px);
                background-color: #d6d6d6;
            }

            .m-pvx-horse-broadcast__item {
                width: calc(50% - 20px);
            }

            .m-pvx-horse-broadcast__horse {
                .flex(y);
                .pointer;
                .r(10px);
                .bold;
                .fz(14px);
                width: auto;
                .h(43px);
                background-color: #f5f5f5;
                padding: 0 10px;
                .gap(5px);
                color: #000;
                border: 1px solid #f5f5f5;

                &.active {
                    border: 1px solid #e86f00;
                    background: rgba(232, 111, 0, 0.1);
                }

                .u-pvx-horse-broadcast__col {
                    .flex;
                    .gap(2px);
                    .w(32%);
                    flex-shrink: 0;
                    justify-content: flex-end;

                    &.u-pvx-horse-broadcast__times {
                        justify-content: flex-start;
                    }
                }

                .u-pvx-horse-name {
                    .x(center);
                }

                &.is-chitu,
                &.is-dilu {
                    .u-pvx-horse-broadcast__times {
                        .flex;
                        flex-direction: column;
                        .fz(12px);
                        color: #999;
                    }
                }

                &.m-pvx-horse-broadcast__horse--empty {
                    width: calc(50% - 20px);
                    .flex(x);
                }
            }
        }
    }

    .u-pvx-horse-broadcast__horse-icon {
        .item {
            background-color: #000;
            .size(25px);
            .r(5px);
            .pointer;
        }

        .u-pvx-horse-image {
            .size(25px);
            .r(5px);
            .pointer;
            background-color: #000;

            img {
                .size(100%);
                .r(5px);
                object-fit: cover;
            }
        }
    }

    .w-no-data {
        .r(10px);
        .flex(o);
        .bold;
        .mt(20px);
        min-height: 232px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }
}

@media screen and (max-width: @ipad) {
    .m-pvx-horse-broadcast .m-pvx-horse-broadcast__list {
        padding: 10px;
        .h(auto);
        flex-direction: column;
        .gap(0);

        .u-pvx-horse-map {
            .w(100%);
        }

        .m-pvx-horse-broadcast__list-items {
            &::before {
                .none;
            }

            .m-pvx-horse-broadcast__item {
                .w(100%);
            }

            .m-pvx-horse-broadcast__horse {
                .w(100%);
                box-sizing: border-box;
                padding: 10px;
                flex-wrap: wrap;
                .h(auto);
                .gap(20px);
                .fz(12px);

                .u-pvx-horse-broadcast__col {
                    .w(45%);
                }

                .u-pvx-horse-broadcast__col:last-child {
                    .w(100%);
                }
            }
        }
    }
}
