.c-sidebar-left {
    top: @header-height;
}

.p-pvx-horse {
    .pt(40px);
    position: relative;

    .m-common-tabs {
        .u-tab {
            transition: 0.3s ease-out;

            &.active,
            &:hover {
                background: @petColor;
                color: #fff;
            }
        }

        .u-search {
            svg {
                cursor: pointer;
                border-radius: 20px;
                margin-top: 3px;
            }

            &:hover {
                svg {
                    fill: #fff;
                    background-color: @petColor;
                    border-color: @petColor;
                }
            }
        }
    }

    .m-pvx-horse-content {
        .m-pvx-horse-broadcast__header {
            .mb(10px);
        }

        .m-pvx-horse-broadcast .m-pvx-horse-broadcast__header .el-select input {
            background-color: #f1f1f1;
        }

        .m-pvx-horse-broadcast {
            .m-pvx-horse-broadcast__list-items {
                overflow: auto;
                padding: 10px;
                .ml(-10px);
            }
        }

        .m-cardlist-item {
            .flex(x);

            .m-pvx-horse-card,
            .m-pvx-horse-same {
                width: 100%;
            }
        }
    }

    .m-pvx-horse-list-wrapper {
        .mt(40px);

        .u-pvx-horse-type {
            .flex;
            .mb(20px);
            justify-content: space-between;
            align-items: flex-end;

            .u-pvx-horse-all {
                cursor: pointer;
                color: #a5a5a5;
                .fz(16px, 21px);
            }
        }

        .u-pvx-horse-title {
            .mt(40px);
            .fz(28px, 42px);
            .bold(700);
            color: #24292e;
        }
    }

    .m-pvx-horse-operate {
        .flex;
        .r(30px);
        align-items: center;
        justify-content: flex-end;
        padding: 3px;
        background-color: #f3f5f6;

        .m-pvx-horse-operate__item {
            .fz(13px);
            .x;
            .pointer;
            .r(30px);
            color: #bbb;
            padding: 5px 15px;

            &:hover {
                color: #24292e;
            }

            &.active {
                color: #fff;
                background: #24292e;
            }
        }
    }

    .m-pvx-horse-list {
        .mt(40px);

        .u-pvx-horse-type {
            .flex;
            .mb(20px);
            justify-content: space-between;
            align-items: flex-end;

            &.reading {
                .mb(0);
            }

            .u-pvx-horse-all {
                cursor: pointer;
                color: #a5a5a5;
                .fz(16px, 21px);
            }

            span {
                .fz(14px);
                color: #777;
                letter-spacing: 2px;

                b {
                    .bold;
                    letter-spacing: 0;
                }
            }
        }

        .u-pvx-horse-title {
            .fz(28px, 42px);
            .bold(700);
            color: #24292e;
        }

        .m-pvx-horse-list__items {
            margin: 10px 0 0 -10px;
            padding: 10px;
        }
    }

    .m-pvx-horse-list__card,
    .m-pvx-horse-list__list {
        .w(100%);
        display: grid;
        .gap(20px);
    }

    .m-pvx-horse-list__card {
        grid-template-columns: repeat(5, 1fr);
    }

    .m-pvx-horse-list__list {
        grid-template-columns: 1fr;

        .m-book-card {
            box-sizing: border-box;
            .w(100%);
        }
    }

    .m-pvx-horse-archive-more {
        .mt(20px);
        .w(100%);
        background-color: @petColor;
        color: #fff;
        border-color: @petColor;

        &:hover {
            background-color: darken(@petColor, 10%);
        }
    }

    .m-pvx-horse-archive-pages {
        .mt(20px);

        .el-pager li {
            &.is-active {
                background-color: @petColor !important;
            }
        }

        .btn-prev,
        .btn-next {
            &:hover {
                color: @petColor;
            }
        }
    }
}

@media screen and (max-width: @ipad) {
    .p-pvx-horse {
        .m-common-card {
            .u-tab:first-child {
                .w(100%);
            }
        }

        .m-pvx-horse-list-wrapper {
            .m-common-list--v2 {
                .m-pvx-horse-same {
                    flex-shrink: 0;
                }

                .m-common-list {
                    overflow-x: auto;
                }
            }
        }

        .m-pvx-horse-list__card {
            .m-pvx-horse-card {
                .w(100%);

                .u-image {
                    .flex;
                    align-items: center;
                    justify-content: center;

                    .el-image__inner {
                        .w(auto);
                    }
                }
            }

            .m-pvx-horse-same {
                .w(100%);
            }
        }
    }
}

.m-pvx-horse-tabs {
    .u-filter {
        &:hover {
            background-color: @petColor;
        }
    }

    .type-item {
        &.is-active,
        &.active {
            background-color: @petColor !important;

            .el-radio-button__inner {
                background-color: @petColor !important;
                color: #fff !important;
            }
        }

        &:hover {
            background-color: @petColor !important;

            .el-radio-button__inner {
                background-color: @petColor !important;
                color: #fff !important;
            }
        }
    }

    .u-tab {
        &.is-active,
        &.active {
            background-color: @petColor !important;
        }
    }

    .u-cut-item {
        &.is-active,
        &.active {
            background-color: @petColor !important;
        }
    }

    .u-confirm-btn {
        &.is-active,
        &.active {
            background-color: @petColor !important;
        }
    }

    .filter-wrap {
        .filter-img {
            &.active {
                svg {
                    fill: #fff;
                    background-color: @petColor;
                }
            }
        }
    }
}

.u-pvx-horse-filter {
    .filter-content {
        .filter-item {
            .check-box-wrapper {
                .el-checkbox-button,
                .el-radio-button {
                    &:hover {
                        .el-checkbox-button__inner,
                        .el-radio-button__inner {
                            background-color: @petColor;
                            color: #fff;
                        }
                    }

                    &.is-checked {
                        .el-checkbox-button__inner {
                            box-shadow: none;
                            background-color: @petColor;
                            color: #fff;
                        }
                    }

                    &.is-active {
                        .el-radio-button__inner {
                            box-shadow: none;
                            background-color: @petColor;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}
