// 小程序相关的隐藏
.m-reputation-tabs__miniprogram {
    .none;
}
.m-reputation-icon__miniprogram {
    .none;
}
.m-reputation-desc__miniprogram {
    .none;
}
.m-reputation-reward__miniprogram {
    .none;
}
.m-reputation-single__miniprogram {
    .none;
}
// html
.v-miniprogram {
    @brand2: #24292e;
    @brand3: #fedaa3;
    @brand4: #282828;

    // 注意：背景色只改变量在小程序上不生效
    @color-light: #1c1c1c;
    @bg-light: #f9f9f9;

    @color-dark: #ffffff;
    @bg-dark: #060606;

    background-color: @bg-light;
    .m-main {
        background-color: @bg-light;
        font-family: "Microsoft YaHei UI";
    }

    @media (prefers-color-scheme: dark) {
        // html背景色
        background-color: @bg-dark;
        .m-main {
            background-color: @bg-dark;
        }
    }

    .m-reputation-tabs {
        .none;
    }
    .m-reputation-tabs__miniprogram {
        .db;
        width: 100%;
        margin-top: 15px;
    }
    .m-reputation-tabs__content {
        .flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 18px;
        .u-tab {
            flex: none;
            font-size: 18px;
            font-weight: 700;
            line-height: 28px;
            color: @color-light;
            &.active {
                position: relative;
                &::after {
                    position: absolute;
                    .db;
                    content: "";
                    @w: 20px;
                    width: @w;
                    height: 2px;
                    left: calc((100% - @w) / 2);
                    bottom: 0;
                    background-color: @color-light;
                }
            }
            @media (prefers-color-scheme: dark) {
                color: @color-dark;
                &.active {
                    &::after {
                        background-color: @color-dark;
                    }
                }
            }
        }
    }
    .is-not-all-title {
        .none;
    }
    .reputation-container {
        padding-top: 0;
    }
    .reputation-container .reputation-list-wrapper .reputation-title {
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 12px;
        @media (prefers-color-scheme: dark) {
            color: @color-dark;
        }
    }
    .reputation-container .reputation-list {
        margin-top: 0;
        gap: 12px;
    }
    .reputation-container .reputation-list-wrapper {
        padding-top: 12px;
    }

    .reputation-icon {
        .none;
    }
    .m-reputation-icon__miniprogram {
        .db;
        display: flex;
        padding: 6px 10px;
        .size(30px);
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        .r(30px);
        background-color: @brand2;
        color: @brand3;

        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;

        @media (prefers-color-scheme: dark) {
            color: @brand2;
            background-color: @brand3;
        }
    }
    .reputation-item {
        gap: 12px;
        background-color: @color-dark;
        border-color: @color-dark;
        @media (prefers-color-scheme: dark) {
            background-color: @brand4;
            border-color: @brand4;
        }
    }
    .reputation-item .reputation-name-wrap {
        margin-left: 0;
    }
    .reputation-item .reputation-name-wrap .reputation-name {
        color: @color-light;

        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        margin: 0;

        @media (prefers-color-scheme: dark) {
            color: @color-dark;
        }
    }
    .progress-wrap {
        .none;
    }
    .m-reputation-desc__miniprogram {
        .db;
        color: rgba(@color-light, 0.8);

        font-family: "Microsoft YaHei";
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px;

        display: -webkit-box; /* 使用旧版弹性盒子布局 */
        -webkit-box-orient: vertical; /* 设置垂直方向 */
        -webkit-line-clamp: 2; /* 限制为两行 */
        overflow: hidden; /* 超出部分隐藏 */
        text-overflow: ellipsis; /* 超出部分显示省略号 */

        @media (prefers-color-scheme: dark) {
            color: rgba(@color-dark, 0.8);
        }
    }

    .m-single-wrapper .back-wrap {
        .none;
    }
    .m-reputation-content {
        padding-top: 12px;
        min-height: auto !important;
    }
    .m-reputation-content .info-wrapper .m-content .detail-wrap,
    .m-reputation-content .info-wrapper .m-servant,
    .m-reputation-content .map-wrapper {
        .none;
    }
    .m-reputation-content .info-wrapper .m-content.m-content-info {
        gap: 16px;
        background-color: @color-dark;
        @media (prefers-color-scheme: dark) {
            background-color: @brand2;
        }
    }
    .m-reputation-content .title {
        gap: 0;
        color: @brand2;
        @media (prefers-color-scheme: dark) {
            color: @brand3;
        }

        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        span {
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
        }
    }
    .m-detail-wrap__miniprogram {
        .flex;
        flex-direction: column;
        gap: 16px;
        .u-label {
            color: rgba(@color-light, 0.4);
            @media (prefers-color-scheme: dark) {
                color: rgba(@color-dark, 0.4);
            }

            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
        }
        .u-val {
            .flex;
            align-items: center;
            gap: 2px;
            color: rgba(@color-light, 0.8);
            .u-icon {
                fill: @brand2;
            }
            @media (prefers-color-scheme: dark) {
                color: rgba(@color-dark, 0.8);
                .u-icon {
                    fill: @brand3;
                }
            }

            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 142.857% */
        }
        .u-user .u-val,
        .u-map .u-val {
            @media (prefers-color-scheme: dark) {
                color: @brand3;
            }
        }
    }
    .el-drawer__wrapper {
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
    }
    .el-drawer__header span {
        text-align: center;
        color: @brand2;
        @media (prefers-color-scheme: dark) {
            color: @brand3;
        }

        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px; /* 142.857% */
    }
    .el-drawer.btt {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding-bottom: 20px;
        height: auto !important;
        background-color: @color-dark;
        @media (prefers-color-scheme: dark) {
            background-color: @brand4;
        }
    }
    .m-servant-drawer,
    .m-buff {
        .flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        gap: 12px;
        color: @brand2;
        text-align: center;

        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        @media (prefers-color-scheme: dark) {
            color: rgba(@color-dark, 0.8);
        }
    }
    .m-buff {
        margin-top: 8px;
        @media (prefers-color-scheme: dark) {
            color: @brand3;
        }
    }
    .m-map-drawer {
        width: 100%;
        height: 320px;
        margin-top: -12px;
        .m-reputation-map {
            .size(100%, 100%);
        }
    }
    .reputation-reward-wrapper {
        .none;
    }

    .m-reputation-reward__miniprogram {
        .db;
        margin-top: 20px;
        .m-reward-tabs {
            .flex;
            flex-wrap: nowrap;
            align-items: center;
            gap: 18px;
            .u-reward-tab {
                flex: none;
                font-size: 18px;
                font-weight: 700;
                line-height: 28px;
                color: rgba(@color-light, 0.4);
                &.active {
                    position: relative;
                    &::after {
                        position: absolute;
                        .db;
                        content: "";
                        @w: 20px;
                        width: @w;
                        height: 2px;
                        left: calc((100% - @w) / 2);
                        bottom: 0;
                        background-color: @color-light;
                    }
                }
                @media (prefers-color-scheme: dark) {
                    color: rgba(@color-dark, 0.4);
                    &.active {
                        color: @color-dark;
                        &::after {
                            background-color: @color-dark;
                        }
                    }
                }
            }
        }
        .m-reward-content {
            margin-top: 20px;
            .flex;
            flex-direction: column;
            gap: 20px;
            .u-label {
                font-size: 12px;
                color: rgba(@color-light, 0.4);
            }
            .u-value,
            .no-data {
                margin-top: 2px;
                color: @brand2;
            }
            .list {
                .flex;
                flex-wrap: wrap;
                gap: 16px;
                margin-top: 10px;
            }
            .u-item-icon {
                .size(40px);
                padding-top: 2px;
                padding-left: 2px;
                .r(8px);
                text-align: center;
                background-color: @brand4;
            }
            @media (prefers-color-scheme: dark) {
                .u-label {
                    color: rgba(@color-dark, 0.4);
                }
                .u-value,
                .no-data {
                    color: rgba(@color-dark, 0.8);
                }
                .u-item-icon {
                    background-color: @bg-light;
                }
            }
        }
        .u-more {
            margin-top: 10px;
            text-align: center;
            font-size: 12px;
            color: rgba(@color-light, 0.4);
        }
        @media (prefers-color-scheme: dark) {
            .u-more {
                margin-top: 10px;
                text-align: center;
                font-size: 12px;
                color: #999;
            }
        }
    }
    .m-reputation-single {
        .none;
    }
    .m-reputation-single__miniprogram {
        .db;
    }
}
