@import "~@/assets/css/common/back.less";

.m-pvx-reputation-wrapper {
    .u-pvx-reputation-goback {
        .pointer;
        .r(30px);
        .fz(16px, 40px);
        .size(100px, 40px);
        .x;
        margin-right: 10px;
        .color(#fff);
        border: none;
        background: @pvx-text-primary;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

        &:hover {
            background: #6b52ff;
        }
    }

    .m-pvx-reputation-reward {
        margin-top: 40px;
        margin-bottom: 40px;

        .u-pvx-reputation-title {
            font-size: 28px;
            color: @pvx-text-primary;
            font-weight: 700;
            height: 42px;
            line-height: 42px;
        }

        .m-pvx-reputation-reward-content {
            display: flex;
            width: 100%;
            min-height: 400px;
            margin-top: 20px;

            .m-pvx-reputation-reward-desc {
                flex: 1;
                min-height: 400px;
                margin-right: 20px;

                .u-pvx-reputation-from-to {
                    .fz(16px);
                    margin-right: 20px;
                    font-weight: 700;
                    flex-shrink: 0;
                }

                .u-pvx-reputation-desc {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    width: inherit;

                    .u-pvx-reputation-desc-title {
                        .fz(16px);
                        margin-right: 10px;
                        font-weight: 700;
                        width: 90px;
                    }

                    .u-pvx-reputation-desc-content {
                        width: inherit;
                        .fz(14px, 24px);
                        font-weight: 300;
                    }
                }

                .item {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    padding: 18px 20px;
                    margin-bottom: 20px;
                    width: 100%;
                    box-sizing: border-box;
                    color: @pvx-text-primary;
                    box-shadow: @pvx-shadow-sm;
                    border-radius: 10px;
                    border: 1px @pvx-bg-white solid;
                    transition: @pvx-transition-normal;
                    cursor: pointer;

                    &.active,
                    &:hover {
                        background: rgba(232, 111, 0, 0.1);
                        color: @pvx-color-reputation;
                        border: 1px @pvx-color-reputation-active solid;
                        box-shadow: 0px 0px 10px rgba(232, 111, 0, 0.4);
                    }
                }
            }

            .m-pvx-reputation-stage-reward {
                padding: 20px;
                width: 414px;
                height: 380px;
                box-sizing: border-box;
                border-radius: 10px;
                overflow: hidden;
                overflow-y: auto;
                box-shadow: @pvx-shadow-sm;
                border: 1px @pvx-bg-white solid;
                transition: @pvx-transition-normal;
                cursor: pointer;

                .u-pvx-reputation-stage-title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    span {
                        font-size: 16px;
                        font-weight: 700;
                        color: @pvx-text-primary;
                    }

                    .u-pvx-reputation-page-list {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        gap: 10px;

                        .u-pvx-reputation-page-item {
                            width: 20px;
                            height: 20px;
                            line-height: 18px;
                            font-size: 12px;
                            font-weight: 700;
                            text-align: center;
                            color: #fff;
                            background-color: @pvx-color-reputation;
                            border: 2px solid @pvx-color-reputation;
                            box-sizing: border-box;
                            .pointer;

                            &.active,
                            &:hover {
                                background-color: @pvx-bg-white;
                                color: @pvx-color-reputation;
                            }
                        }
                    }
                }

                .list {
                    padding: 20px 0;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 10px;
                }

                .u-pvx-reputation-no-data {
                    margin-top: 20px;
                    width: 36px;
                    height: 36px;
                    line-height: 36px;
                    text-align: center;
                    background-color: @pvx-color-reputation;
                    color: #fff;
                    font-weight: 700;
                    border-radius: 5px;
                }

                &.active {
                    background: rgba(232, 111, 0, 0.1);
                    color: @pvx-color-reputation;
                    border: 1px @pvx-color-reputation-active solid;
                    box-shadow: 0px 0px 10px rgba(232, 111, 0, 0.4);

                    .u-pvx-reputation-stage-title {
                        span {
                            color: @pvx-color-reputation;
                        }
                    }

                    .u-pvx-reputation-no-data {
                        background-color: @pvx-color-reputation;
                        color: #fff;
                    }
                }
            }
        }
    }

    .m-wiki-post-panel,
    .m-wiki-post-empty {
        .mt(20px);
    }

    .m-search,
    .m-wiki-post-panel,
    .m-wiki-post-empty {
        grid-column: span 3;
    }
}

.m-pvx-reputation-content {
    .pr;
    .flex;
    .size(100%, auto);
    .pt(20px);
    min-height: 375px;
    gap: 20px;
    color: #9f6000;

    .u-pvx-reputation-title {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        font-size: 28px;
        color: @pvx-text-primary;
        font-weight: 700;
        height: 42px;
        line-height: 42px;
        gap: 10px;

        span {
            font-size: 14px;
            font-weight: 400;
            line-height: 1.3;
        }
    }

    .m-pvx-reputation-info {
        .flex;
        .r(10px);
        flex: 1;
        padding: 20px;
        gap: 20px;
        box-shadow: @pvx-shadow-sm;

        .m-pvx-reputation-content-block {
            .flex;
            .fz(14px, 24px);
            .pt(70px);
            gap: 20px;

            &.m-pvx-reputation-content-block--info {
                .pt(0);
                gap: 0px;
                flex-direction: column;
                .w(500px);
                flex-shrink: 0;
            }

            .u-pvx-reputation-sub-title {
                .flex;
                .bold;
                margin: 20px 0 10px 0;
                gap: 5px;
                align-items: center;
                color: @pvx-text-primary;

                &.u-pvx-reputation-sub-name {
                    .fz(20px);
                }
            }

            .u-pvx-reputation-detail {
                .flex;
                flex-direction: column;

                img {
                    .w(100%);
                }
            }

            .u-pvx-reputation-img {
                .w(150px);
                flex-shrink: 0;
            }
        }
    }

    .m-pvx-reputation-map-wrapper {
        .r(10px);
        padding: 20px;
        box-shadow: @pvx-shadow-sm;
        height: fit-content;

        .map-content {
            .clip;
            margin-top: 20px;
            width: 468px;
            height: 260px;
            overflow: hidden;

            .m-pvx-reputation-map {
                &>div {
                    height: 275px;
                }
            }
        }
    }
}

.u-msg-yellow {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
    padding: 8px 14px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}

.m-wiki-post-empty {
    .u-msg-yellow;
    .x;

    .s-link {
        .underline();
    }

    letter-spacing: 2px;
    .fz(14px);
}

.m-wiki-compatible {
    .u-msg-yellow;
    margin: 10px auto;
    padding: 5px 10px;

    a {
        .underline();
    }
}

.m-wiki-signature {
    .x(right);
    color: #999;
    .fz(12px, 2);
    border-top: 1px dashed #ddd;
    padding: 5px 0;
}

.m-thx {
    .mt(20px);
    .mb(20px);

    .w-boxcoin-records-list {
        background-color: @pvx-bg-white;
    }
}

@media screen and (max-width: @ipad) {
    .m-pvx-reputation-content {
        flex-direction: column;

        .u-pvx-reputation-title {
            .fz(20px, 28px);
            flex-direction: column;
            height: auto;
            align-items: flex-start;
        }

        .m-pvx-reputation-info {
            padding: 0;
            box-shadow: 0 0 0 0;
            flex-direction: column;

            .m-pvx-reputation-content-block {
                .r(10px);
                flex-direction: column;
                padding: 20px;
                box-sizing: border-box;
                .pt(0);

                &.m-pvx-reputation-content-block--info {
                    .w(100%);
                }

                box-shadow: @pvx-shadow-sm;

                .u-pvx-reputation-img {
                    order: 1;
                    .auto(x);
                }
            }
        }

        .m-pvx-reputation-map-wrapper .map-content {
            .w(100%);
        }
    }

    .m-pvx-reputation-wrapper .m-pvx-reputation-reward .m-pvx-reputation-reward-content {
        flex-direction: column;

        .m-pvx-reputation-reward-desc {
            margin: 0;

            .item {
                padding: 10px;
                gap: 10px;
                flex-direction: column;
                height: auto;
                align-items: flex-start;

                .u-pvx-reputation-desc {
                    align-items: flex-start;
                    font-weight: normal;

                    .u-pvx-reputation-desc-title {
                        flex-shrink: 0;
                    }
                }
            }
        }

        .m-pvx-reputation-stage-reward {
            .w(100%);
            padding: 10px;
            height: auto;
        }
    }
}
