.c-pvx-main {
    background: #F6F8FA;
}

.p-index {
    .flex;
    padding: 40px 0 0;
    box-sizing: border-box;
    gap: 30px;

    &.p-index--pvx {
        padding: 40px 10px 0 10px;
    }

    .m-index-category {
        border-radius: 48px;
        box-sizing: border-box;
        min-height: calc(100vh - 248px);
        width: calc(100% / 3);
        padding: 30px;
        border: 1px solid rgba(226, 232, 240, 0.60);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        background-color: #fff;

        &.index0 {
            background-image: url("@{design_url}pvx/index0.svg");
            background-repeat: no-repeat;
            background-position: bottom left;
        }

        &.index1 {
            background-image: url("@{design_url}pvx/index1.svg");
            background-repeat: no-repeat;
            background-position: bottom right;
        }

        &.index2 {
            background-image: url("@{design_url}pvx/index2.svg");
            background-repeat: no-repeat;
            background-position: bottom right;
        }

        .u-index-category-title {
            .bold;
            .fz(16px, 20px);
            .mb(30px);
        }

        .m-child-category-list {
            .flex;
            flex-wrap: wrap;
            gap: 30px;

            .u-img {
                .size(50px);
            }

            .m-child-category {
                .flex;
                width: calc(50% - 15px);
                max-width: 248px;

                @media screen and (max-width: @smallpc) {
                    width: 100%;
                    max-width: 100%;
                    padding: 5px 20px;
                }

                box-sizing: border-box;
                padding: 20px;
                border-radius: 8px;
                background: #fff;
                border: 1px solid #F0F0F0;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
                transition: 0.3s ease-out;

                .u-image {
                    .size(50px);
                }

                .u-text {
                    .bold;
                    .fz(20px, 50px);
                    .pl(30px);
                    color: #a3a3a3;
                    transition: 0.3s ease-in-out;
                }

                &:hover {
                    .r(10px);

                    .u-text {
                        color: #000;
                    }

                    &.child-0 {
                        border: 1px solid #FDF1E6;
                        box-shadow: 0 4px 12px 0 rgba(107, 82, 255, 0.20);
                    }

                    &.child-1 {
                        border: 1px solid #e86f00;
                        box-shadow: 0 4px 12px 0 rgba(232, 111, 0, 0.20);
                    }

                    &.child-2 {
                        border: 1px solid #E7F7EB;
                        box-shadow: 0 4px 12px 0 rgba(83, 178, 127, 0.20);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: @ipad) {
    .p-index {
        flex-direction: column;

        .m-index-category {
            .w(100%);

            background-size: contain !important;
            min-height: unset;
            padding: 20px;

            &.index0 {
                transform: scaleX(-1);

                .u-index-category-title {
                    transform: scaleX(-1);
                }

                .m-child-category-list {
                    transform: scaleX(-1);
                }
            }

            .u-index-category-title {
                .fz(16px);
                .mb(10px);
            }

            .m-child-category-list {
                gap: 12px;

                .m-child-category {
                    box-sizing: border-box;
                    padding: 5px 20px;
                    border-radius: 8px;
                    background: #fff;
                    border: 1px solid #F0F0F0;
                    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
                    transition: 0.3s ease-out;
                    width: 100%;

                    .u-image {
                        .size(30px);
                    }

                    .u-text {
                        .pl(10px);
                        .bold(400);
                    }
                }
            }
        }
    }
}
