/**
 * Homeland 攻略列表样式
 * 
 * @description 家园攻略文章列表样式
 * @version 2.1.0
 */

@import "_variables.less";

.m-bbs {
    .m-archive-search {
        .flex;
        padding-top: 10px;
        margin-bottom: 10px;

        > * + * {
            margin-left: 10px;
        }

        @media screen and (max-width: @phone) {
            padding-top: 30px;
        }
    }

    .m-archive-list {
        .el-alert {
            width: 100%;
            justify-content: center;
            background: @pvx-bg-white;
        }

        .u-list {
            padding-left: 0;
            margin: 0;
            list-style: none;
        }

        .u-item {
            border-bottom: 1px solid @border-hr;
            padding-bottom: 20px;
            margin-bottom: 20px;
            .clearfix;
            .pr;
            list-style: none;
        }

        .u-banner {
            .fl;
            .mr(10px);
            .w(180px);
            .h(100px);
            overflow: hidden;
            .db;
            .pr;
            .z(1);
            border: 1px solid @pvx-homeland-border-light;
            padding: 5px;
            box-sizing: border-box;

            img {
                .size(100%);
                filter: saturate(120%);
                transition: 0.06s all ease-in-out;
            }

            transition: 0.06s border ease-in-out;

            &:hover {
                img {
                    filter: saturate(140%) brightness(120%);
                }
                border-color: @border;
            }
        }

        .u-post {
            margin: 0;
            padding-left: 0;
            .nobreak;
            margin-bottom: 5px;
            .fz(15px);
            line-height: 2;
            font-weight: 400;

            .u-icon {
                .size(16px);
                .y(-3px);
                .mr(5px);
            }

            &.isSticky {
                .u-title::before {
                    content: "🎯";
                    .mr(5px);
                }
            }

            .u-title {
                font-weight: 400;

                &:hover {
                    box-shadow: 0 1px 0 @primary;
                }
            }
        }

        .u-mark {
            font-style: normal;
            font-size: 12px;
            padding: 1px 5px 2px 5px;
            margin-left: 5px;
            border-radius: 2px;
            background-color: @pvx-homeland-mark;
            color: @pvx-bg-white;
        }

        .u-content {
            .db;
            padding-left: 20px;
            .pr;
        }

        .u-desc {
            .db;
            .fz(12px);
            line-height: 1.8;
            color: @pvx-homeland-text-secondary;
            .break(2);
            margin-bottom: 6px;
            padding: 0 2px;
            margin-right: 200px;
        }

        .u-metalist {
            .nobreak;
            .db;
            .fz(12px);
            line-height: 25px;
            margin-bottom: 4px;

            strong {
                .dbi;
                .y(top);
                padding: 0 10px;
                margin-right: 10px;
                .r(4px);
                background-color: @pvx-homeland-tag-bg;
                color: @v4primary;
                font-weight: normal;
            }

            em {
                font-style: normal;
            }

            b {
                font-weight: normal;
            }

            a {
                color: @pvx-text-primary;

                &:hover {
                    color: @v4primary;
                    box-shadow: 0 1px 0 @v4primary;
                }
            }
        }

        .u-tag {
            .db;
            .nobreak;

            a,
            b {
                padding: 0.2em 0.8em;
                margin: 0 0.5em 0 0;
                background-color: @pvx-homeland-tag-bg;
                border-radius: 3px;
                .fz(12px);
                color: @pvx-homeland-tag;
            }

            a:hover {
                background-color: @pvx-homeland-tag-hover;
            }
        }

        .u-types {
            .db;
            .nobreak;

            b {
                padding: 0.1em 0.8em;
                margin: 0 0.5em 0.5em 0;
                border-radius: 3px;
                .fz(12px);
                .dbi;
                .y(top);
            }
        }

        .u-misc {
            .db;
            .pa;
            .rb(10px, 24px);
            .x(right);
            .fz(12px);
            line-height: 20px;
            color: @pvx-homeland-text-misc;
        }

        .u-author-avatar {
            .size(24px);
            .y;
            .r(2px);
            margin-right: 5px;
        }

        .u-author-name {
            .fz(12px);
            line-height: 24px;
            color: @pvx-homeland-text-light;

            &:hover {
                color: @pvx-homeland-pink;
            }
        }

        .u-date {
            .db;
            margin-top: 3px;
            .clear;
        }

        .u-down {
            i {
                .size(12px);
                .y(-1px);
            }
        }

        .u-pipe {
            margin: 0 5px;
            color: @pvx-homeland-text-light;
        }
    }

    @media screen and (max-width: @ipad) {
        .m-archive-list {
            .u-banner {
                .w(100px);
                .h(55px);
                padding: 3px;
                .fr;
                margin-left: 10px;
                margin-right: 0;
            }

            .u-post {
                white-space: normal;
                word-break: break-all;
                .break(2);
                .fz(14px);
                line-height: 22px;
            }

            .u-metalist,
            .u-down,
            .u-view {
                .none;
            }

            .u-tag {
                margin-bottom: 8px;
            }

            .u-misc {
                .ps;
                .x(left);
            }

            .u-author-name {
                color: @pvx-homeland-text-secondary;
            }
        }
    }

    @media screen and (max-width: @phone) {
        .m-archive-list {
            .u-desc {
                .none;
            }
        }
    }
}
