/**
 * Homeland 花价查询样式
 * 
 * @description 全区服小区花价查询功能样式
 * @version 2.1.0
 */

@import "_variables.less";

.m-flower {
    padding: 0 20px 20px;
}

@media screen and (max-width: @phone) {
    .m-flower {
        padding: 10px 15px 0 15px;
    }
}

.m-flower-container {
    max-width: @max-width;
    .auto(x);
    min-height: calc(100vh - 250px);
}

.m-flower-title {
    font-weight: 300;
    .x;
}

@media screen and (max-width: @ip5) {
    .m-flower-title {
        .fz(20px);
    }
}

.m-flower-desc {
    .x;
    .auto(x);
    .w(100%);
    white-space: nowrap;

    .el-divider__text {
        font-weight: 300;
        color: @pvx-homeland-text-desc;
        background: @pvx-homeland-bg-card;
    }
}

.m-flower-search {
    .x;
    .auto(x);
    .w(100%);

    .el-select,
    .el-button {
        .w(100%);
        box-sizing: border-box;
    }
}

@media screen and (max-width: @ipad) {
    .m-flower-search {
        .el-col-5 {
            flex: 1;
        }
    }
}

@media screen and (max-width: @phone) {
    .m-flower-search {
        .el-col {
            .w(100%);
        }

        .el-select {
            .db;
            margin-right: 0;
            margin-bottom: 10px;
        }

        .u-button {
            .db;
            .w(100%);
        }
    }
}

.m-flower-submit {
    .auto(x);

    .u-tip {
        margin-top: 10px;
    }
}

.m-flower-tip {
    .fz(12px);
    margin: 10px auto;
    max-width: @max-width;
    background-color: @pvx-homeland-bg-tip;
    .db;
}

.m-flower-box {
    min-height: 500px;
}

.m-flower-result {
    .auto(x);
    margin-top: 10px;
    line-height: 34px;
}

.m-flower-all {
    padding: 10px 20px 10px 15px;
    color: @pvx-homeland-text-light;
    .fz(12px);
    .clearfix;
    overflow: hidden;

    .u-flower {
        margin-bottom: 12px;
        border-bottom: 1px solid @border;
        padding-bottom: 10px;
    }

    .u-title {
        line-height: 20px;
        .clearfix;
        .db;
        margin-bottom: 5px;
    }

    .u-name {
        .bold;
        margin-right: 8px;
        .fl;
    }

    .u-icons {
        .clearfix;
    }

    .u-icon {
        .db;
        .fl;
        margin-right: 5px;

        img {
            .db;
            .size(22px);
            .r(2px);
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
        }
    }

    .u-desc {
        line-height: 20px;
    }

    .u-line {
        .pointer;

        b {
            color: @pvx-homeland-price;
            .fz(14px);
            padding: 0 2px;
        }

        &:after {
            content: "、";
        }

        &:nth-child(3):after {
            .none;
        }
    }

    .u-price {
        .fr;
    }

    .isHidden {
        .none;
    }
}

@media screen and (max-width: @ipad) {
    .m-flower-all .u-flower {
        .w(100%);
    }
}

@media screen and (max-width: @phone) {
    .m-flower-all .u-price {
        .db;
        float: none;
        .w(100%);
    }
}

.m-flower-overview {
    min-height: 400px;
    .auto(x);

    th .cell,
    td .cell {
        .x;
    }

    .u-line {
        padding: 0 10px;
    }

    .u-line-wrapper {
        .pointer;
    }
}

@media screen and (max-width: @phone) {
    .m-flower-overview {
        min-height: none;

        table {
            width: 100% !important;
            .db;
        }

        thead,
        tbody {
            .db;
        }

        tr {
            .db;
            border: 1px solid @pvx-homeland-border-light;
            .r(4px);
            margin-bottom: 10px;
        }

        td {
            .db;
            border: none;

            &:first-child {
                .bold;
            }
        }

        thead {
            tr {
                display: flex;
            }

            th {
                border: none !important;
                min-width: 25%;
            }

            th:last-child {
                flex: 1;
            }
        }
    }
}

.c-footer {
    max-width: 1200px;
    .auto(x);
}
