/**
 * Homeland 首页样式
 * 
 * @description 家园模块首页布局样式
 * @version 2.0.0
 */

@import "_variables.less";

.p-homeland {
    padding-top: 40px;

    .m-homeland-content {
        padding-top: 20px;

        .el-tabs__content {
            .scrollbar(2px);
            width: 100%;
            overflow-x: auto;
        }
    }
}

@media screen and (max-width: @phone) {
    .p-homeland {
        .m-homeland-content {
            padding-top: 24px;
        }

        .m-homeland-games {
            justify-content: flex-start;
        }

        .m-common-tabs {
            .w(100%);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
            padding: 10px 15px;
            .flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            > * + * {
                margin-left: 10px;
            }
        }

        .m-homeland-levels {
            overflow: auto;
        }
    }
}
