/**
 * Homeland 家具卡片样式
 * 
 * @description 家具列表卡片组件样式
 * @version 2.1.0
 */

@import "_variables.less";

.m-furniture-item {
    .size(380px, 200px);
    .r(8px);
    .pointer;
    .color(@color);
    border: 1px solid @pvx-border-dashed;
}

.m-furniture-image {
    .size(175px);
    .pr;
    .ml(10px);
    .r(5px);
    .flex;
    align-items: center;
    justify-content: center;
    background: @pvx-homeland-bg-img;

    .u-use,
    .u-dye {
        .pa;
        .rb(6px, 10px);
        .r(2px);
        .size(26px, 26px);
        .z(1);
        background: url("@{game_icons}homeland/interact.png") rgba(255, 255, 255, 0.5) center center no-repeat;
        box-shadow: 0 0 3px @pvx-homeland-text-light;
    }

    .u-use + .u-dye {
        .rb(6px, 46px);
    }

    .u-dye {
        .rb(6px, 10px);
        background: url("@{game_icons}homeland/dye.png") rgba(255, 255, 255, 0.5) center center no-repeat;
    }

    .u-img {
        .r(5px);
        max-width: 100%;
        max-height: 100%;
    }
}

.m-furniture-item {
    transition: all 0.1 ease-in-out;

    .m-furniture-image img {
        transition: 0.2s ease;
    }

    &:hover {
        .m-furniture-image {
            overflow: hidden;

            img {
                transform: scale(1.2);
            }
        }

        background-color: @pvx-homeland-bg-hover;
        box-shadow: @pvx-shadow-sm;
        border-color: @pvx-homeland-border-hover;
    }
}

.m-furniture-detail {
    .ml(15px);
    .size(160px, 100%);
    box-sizing: border-box;
    padding: 20px 10px 20px 0;
    .flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .u-name {
        .w(100%);
        .bold;
        .clip;
        .nobreak;
        .mb(10px);
        box-sizing: border-box;
        font-size: 14px;
        letter-spacing: 0.5px;

        &.quality_2 {
            color: @pvx-quality-2;
        }

        &.quality_3 {
            color: @pvx-quality-3;
        }

        &.quality_4 {
            color: @pvx-quality-4;
        }

        &.quality_5 {
            color: @pvx-quality-5;
        }
    }

    .u-num {
        font-family: "Consolas";
    }

    .u-nature {
        font-size: 12px;
        line-height: 22px;
        .mb(4px);
        .flex;
        align-items: center;
    }

    .u-attribute {
        .r(3px);
        .mr(5px);
        color: @pvx-bg-white;
        padding: 0 5px;
    }

    .u-blue {
        background: @pvx-homeland-blue;
    }

    .u-pink {
        background: @pvx-homeland-pink;
    }

    .u-yellow {
        background: @pvx-homeland-yellow;
    }

    .u-green {
        background: @pvx-homeland-green;
    }

    .u-purple {
        background: @pvx-homeland-purple;
    }
}
