/**
 * 小程序暗色模式样式
 * 集中管理所有小程序暗色模式样式
 * PC端不需要暗色模式，仅此文件管理小程序端暗色
 */

@import (reference) "_variables.less";

@media (prefers-color-scheme: dark) {

    .m-pvx-face-data,
    .m-pvx-body-data {
        background-color: @pvx-dark-bg;
    }

    .m-pvx-face-list-mobile__tabs,
    .m-pvx-body-list-mobile__tabs {
        background-color: @pvx-dark-bg;

        .u-pvx-tab-item {
            color: @pvx-dark-text-80;

            &.is-active {
                color: @pvx-mini-primary;
                border-bottom-color: @pvx-mini-primary;
            }
        }
    }

    .u-pvx-fb-data-title {
        color: @pvx-dark-text-80;
    }

    .u-pvx-fb-data-list {

        .u-pvx-fb-list-item,
        .u-pvx-fb-list-label {
            color: @pvx-dark-text-80;
        }

        .u-pvx-fb-list-value {
            color: @pvx-dark-text;
        }
    }

    .m-pvx-fb-data-preview,
    .u-pvx-fb-data-preview {
        background-color: @pvx-dark-bg;
    }

    .m-pvx-fb-price-all {

        .u-pvx-fb-price-title {
            color: @pvx-dark-text-80;
        }

        .u-pvx-fb-price-total {
            color: @pvx-price-gold;
        }
    }

    .u-pvx-fb-type-title {
        background-color: @pvx-mini-card-dark;
        color: @pvx-dark-text-80;
    }

    .u-pvx-fb-sub-title {
        color: @pvx-dark-text-40;
    }

    .u-pvx-fb-decals {
        // background: rgba(107, 82, 255, 0.15);
        background-color: @pvx-mini-card-dark;
    }

    .u-pvx-fb-decals-params-label {
        color: @pvx-dark-text-80;
    }

    .m-pvx-face-list-mobile,
    .m-pvx-body-list-mobile {
        background-color: @pvx-dark-bg;

        .u-pvx-fb-card-title {
            color: @pvx-bg-white;
        }
    }

    .m-pvx-fb-mini-list {

        .u-pvx-fb-card-title {
            color: @pvx-bg-white;
        }
    }

    .m-pvx-fb-single-detail {
        background-color: #000;

        .m-pvx-fb-detail-top {
            .u-pvx-fb-img-item {
                &::before {
                    background: linear-gradient(180deg,
                            #1c1c1c 0.04%,
                            rgba(0, 0, 0, 0) 20%,
                            rgba(0, 0, 0, 0) 80%,
                            #000000 100%);
                }
            }

            .u-pvx-fb-detail-info {
                .u-pvx-fb-detail-name {
                    color: @pvx-bg-white;
                }

                .u-pvx-fb-detail-author {
                    color: @pvx-dark-text-40;
                }
            }
        }

        .m-pvx-fb-tags {

            .u-pvx-fb-tag {
                background: @pvx-dark-card;
                color: @pvx-dark-text-80;
            }
        }

        .m-pvx-fb-introduce {
            background-color: @pvx-dark-card;

            .u-pvx-fb-introduce-title {
                color: @pvx-dark-text-40;
            }

            .u-pvx-fb-introduce-content {
                color: @pvx-dark-text-80;
            }
        }

        .m-pvx-fb-warning {
            background-color: @pvx-dark-card;
            color: @pvx-dark-text-40;

            .u-pvx-fb-warning-img {
                display: none;
            }

            .u-pvx-fb-warning-img-dark {
                display: block;
            }
        }

        .m-pvx-fb-data-entry {
            background-color: @pvx-dark-card;
            color: @pvx-dark-text-80;

            .u-pvx-fb-data-entry-img {
                display: none;
            }

            .u-pvx-fb-data-entry-img-dark {
                display: block;
            }
        }

        .m-pvx-fb-author {
            background-color: @pvx-dark-card;

            .u-pvx-fb-author-info-box {

                .u-pvx-fb-author-name {
                    color: @pvx-dark-text-80;
                }

                .u-pvx-fb-author-fans {
                    color: @pvx-dark-text-40;
                }

                .u-pvx-fb-author-follow {
                    background: @pvx-mini-primary;
                    color: @pvx-mini-primary-bg;
                }
            }

            .u-pvx-fb-author-introduce {
                color: @pvx-dark-text-40;
            }
        }

        .m-pvx-fb-author-other {
            background-color: @pvx-dark-card;

            .u-pvx-fb-author-other-title {
                color: @pvx-dark-text-40;
            }
        }
    }

    .m-pvx-fb-routine {
        .u-pvx-fb-item {

            .u-pvx-fb-item__name {
                color: @pvx-dark-text-80;
            }

            .u-pvx-fb-item__author {
                color: @pvx-dark-text-40;
            }
        }
    }

    .m-pvx-fb-habitus {
        .u-pvx-fb-item {

            .u-pvx-fb-item__type {
                color: @pvx-dark-text-80;
            }
        }
    }
}
