/**
 * Face/Body 数据展示页公共样式
 * 小程序端脸型和体型数据展示的共享样式
 */

@import (reference) "_variables.less";

.m-pvx-face-data,
.m-pvx-body-data {
    .h(100vh);
    overflow: auto;
    box-sizing: border-box;
}

.m-pvx-fb-data-preview,
.u-pvx-fb-data-preview {
    overflow: auto;
    height: calc(100vh - 2.8rem);
    padding: 0 0.444rem 0.556rem 0.444rem;
    box-sizing: border-box;
}

.m-pvx-face-list-mobile__tabs,
.m-pvx-body-list-mobile__tabs {
    .flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;

    .u-pvx-tab-item {
        color: @pvx-text-40;
        .fz(1rem, 1.556);
        .bold(700);
        .mb(0.667rem);

        &.is-active {
            color: @pvx-dark-surface;
            border-bottom: 2px solid @pvx-dark-surface;
        }
    }
}

.u-pvx-fb-data-title {
    .flex;
    align-items: center;
    gap: 0.278rem;
    .bold;
    .fz(0.833rem, 2);
    flex-shrink: 0;
    width: 12.222rem;
}

.u-pvx-fb-data-list {
    list-style: none;
    padding: 0;
    .mb(0.556rem);
    .mt(0);
    .x(right);
}

.u-pvx-fb-list-item {
    padding: 0.278rem 0.444rem;
    .flex;
    flex-flow: row;
    gap: 0.556rem;

    .u-pvx-data-name {
        .flex;
        align-items: center;
        gap: 0.222rem;
    }
}

.u-pvx-fb-list-label {
    .fz(0.778rem);
    font-weight: normal;
    .w(4.444rem);
    color: #000;
    .x(left);
}

.u-pvx-fb-list-value {
    .fz(0.778rem);
    .w(2.778rem);
    .nobreak;
    .bold;
    color: #5856d6;
    .x(right);
}

.u-pvx-fb-list-input,
.u-pvx-fb-range,
.u-range {
    flex: 1;
}
