/**
 * 小程序抽屉内样式
 * 用于抽屉内的复制码、数据展示等样式
 */

@import "../_variables.less";
@import "base.less";

// ==================== 复制码抽屉样式 ====================

.m-pvx-face-data-copy,
.m-pvx-fb-data-copy {
    .w(100%);

    .u-copy-box,
    .u-data-box,
    .m-pvx-fb-data-copy__box,
    .m-pvx-fb-data-copy__data {
        .w(100%);
        .flex;
        .flex(o);
        flex-direction: column;
        gap: 1.25rem;

        .u-copy-top,
        .u-fb-data-copy-top {
            .flex;
            .flex(o);
            flex-direction: column;
        }
    }

    .u-label,
    .u-fb-data-copy-label {
        color: rgba(255, 255, 255, 0.4);
        .fz(0.875rem, 1.25rem);
        .bold(700);
    }

    .u-number,
    .u-fb-data-copy-number {
        .w(100%);
        .flex;
        padding: 1rem;
        align-items: flex-start;
        gap: 0.25rem;
        align-self: stretch;
        .r(0.75rem);
        background: #ff7991;
        box-sizing: border-box;
        color: @pvx-mini-bg;
        .fz(0.75rem, 1.125rem);
        .bold(700);
    }

    .u-copy-btn,
    .u-fb-data-copy-btn {
        .flex;
        .flex(o);
        padding: 0.75rem 1rem;
        gap: 0.5rem;
        align-self: stretch;
        .r(0.75rem);
        background: @pvx-mini-primary;
        .fz(0.875rem, 1.25rem);
        .bold(700);
    }

    .u-no-data-btn,
    .u-fb-data-copy-no-data-btn {
        .flex;
        .flex(o);
        padding: 0.75rem 1rem;
        gap: 0.5rem;
        align-self: stretch;
        .r(0.75rem);
        background: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.4);
        .fz(0.875rem, 1.25rem);
        .bold(700);
    }
}

// 体型模块的码颜色
.m-pvx-body-data-copy {
    .u-number,
    .u-fb-data-copy-number {
        background: #79ceff;
    }
}
