@import "index.less";

.m-pvx-fb-routine {
    .size(100%, auto);
    .flex;
    gap: 0.889rem;
    overflow: auto;
    box-sizing: border-box;
    padding: 0 1.25rem;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    &.m-pvx-fb-routine--one {
        flex-wrap: wrap;
        height: 100%;
        gap: 0.667rem;

        .u-item,
        .u-fb-item {
            width: calc((100% - 0.667rem * 2) / 3);

            .u-item_img,
            .u-fb-item__img {
                width: 100%;
                aspect-ratio: 1;
                object-fit: cover;

                img,
                .u-fb-item__img-el,
                .el-image {
                    .size(100%, 100%);
                    object-fit: contain;
                }
            }
        }
    }

    .u-item,
    .u-fb-item {
        .u-item_img,
        .u-fb-item__img {
            .r(0.444rem);
            background: #d9d9d9;
            overflow: hidden;

            img,
            .u-fb-item__img-el {
                object-fit: contain;
            }
        }

        .u-item_tag,
        .u-fb-item__tag {
            .flex;
            gap: 0.222rem;
            padding: 0.222rem 0.111rem;
            box-sizing: border-box;

            .u-tag_item,
            .u-fb-tag-item {
                .size(0.667rem, 0.111rem);
                border-radius: 100px;

                &.green {
                    background: #34c759;
                }

                &.mint {
                    background: #23abe5;
                }

                &.purple {
                    background: #af52de;
                }

                &.new {
                    background: #ff72af;
                }
            }
        }

        .u-item_name,
        .u-fb-item__name,
        .u-item_author,
        .u-fb-item__author {
            padding: 0 0.111rem;
            box-sizing: border-box;
            .bold(400);
            font-style: normal;
        }

        .u-item_name,
        .u-fb-item__name {
            .w(100%);
            color: @pvx-text-80;
            .fz(0.778rem, 1.333rem);
            .mb(0.222rem);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .u-item_author,
        .u-fb-item__author {
            color: @pvx-text-40;
            .fz(0.667rem, 1rem);
        }
    }

    .u-more,
    .u-fb-more {
        .x;
        .w(100%);
    }
}

@import "dark-mode.less";
