@import (reference) "_variables.less";
@import "../../drawer.less";

.m-pvx-fb-single-detail {
    height: 100vh;
    background-color: #fafafa;
    overflow: auto;
    padding-bottom: 3.5rem;
    box-sizing: border-box;

    .m-base {
        flex: 1;
        .w(100%);

        .m-pvx-fb-single-detail__copy {
            .flex;
            .flex(o);
            gap: 0.75rem;
        }
    }

    .u-pvx-fb-copy-icon {
        .size(1.5rem);

        svg,
        path,
        .u-icon-svg {
            fill: @pvx-mini-primary;
            stroke: @pvx-mini-primary;
        }
    }

    .m-pvx-fb-detail-top {
        .pr;
        overflow: hidden;

        .u-pvx-fb-img-item {
            .size(100%, 34.375rem);
            .pr;

            &::before {
                content: "";
                .pa;
                .size(100%, 100%);
                .lt(0);
                .dbi;
                .z(1);
                background: linear-gradient(180deg,
                        #f8f8f8 0.04%,
                        rgba(248, 248, 248, 0) 30%,
                        rgba(248, 248, 248, 0) 70%,
                        #fafafa 100%);
            }

            img,
            .u-pvx-fb-detail-img {
                .size(100%, 100%);
                object-fit: cover;
            }
        }

        .el-carousel__indicators {
            height: 2.333rem;

            &.el-carousel__indicators--horizontal {
                right: 0;
                left: unset;
            }

            .el-carousel__indicator {
                .pt(0);

                .el-carousel__button {
                    .size(0.444rem);
                    .r(0.444rem);
                    background-color: rgba(28, 28, 28, 0.4);
                }

                &.is-active {
                    .el-carousel__button {
                        background-color: #1c1c1c;
                    }
                }
            }
        }

        .u-pvx-fb-detail-info {
            .pa;
            .z(2);
            .lb(1.111rem, 0.333rem);

            .u-pvx-fb-detail-name {
                color: @pvx-dark-surface;
                .fz(0.889rem, 1.333rem);
                .bold(700);
            }

            .u-pvx-fb-detail-author {
                color: rgba(28, 28, 28, 0.4);
                .fz(0.667rem, 1rem);
                .bold(400);
            }
        }
    }

    .m-pvx-fb-tags {
        .flex;
        gap: 0.222rem;
        padding: 0.778rem 1.111rem;
        box-sizing: border-box;
        align-items: center;
        align-self: stretch;

        .u-pvx-fb-tag {
            padding: 0.222rem 0.444rem;
            .flex;
            .flex(o);
            .r(0.444rem);
            border: 1px solid rgba(40, 40, 40, 0.05);
            background: @pvx-bg-white;
            color: @pvx-text-80;
            .fz(0.778rem, 0.889rem);
            .bold(400);

            &.green {
                background: #34c759;
                color: @pvx-bg-white;
            }

            &.mint {
                background: #23abe5;
                color: @pvx-bg-white;
            }

            &.purple {
                background: #af52de;
                color: @pvx-bg-white;
            }
        }
    }

    .m-pvx-fb-introduce {
        border: 1px solid rgba(40, 40, 40, 0.05);
        padding: 0.889rem;
        .r(0.667rem);
        background-color: @pvx-bg-white;
        margin: 0 1.111rem 0.889rem 1.111rem;
        box-sizing: border-box;

        .u-pvx-fb-introduce-title {
            color: @pvx-text-40;
            .fz(0.667rem, 1rem);
            .bold(400);
            .mb(0.222rem);
        }

        .u-pvx-fb-introduce-content {
            color: @pvx-text-80;
            .fz(0.778rem, 1.111rem);
            .bold(400);
        }
    }

    .m-pvx-fb-warning {
        .flex;
        gap: 0.667rem;
        align-items: center;
        margin: 0 1.111rem 0.889rem 1.111rem;
        padding: 0.889rem;
        .r(0.667rem);
        background-color: @pvx-bg-white;
        color: @pvx-text-40;
        .fz(0.778rem, 1.111rem);
        .bold(400);

        .u-pvx-fb-warning-img-dark {
            display: none;
        }
    }

    .m-pvx-fb-data-entry {
        .flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 1.111rem 0.889rem 1.111rem;
        padding: 0.889rem;
        .r(0.667rem);
        background-color: @pvx-bg-white;
        color: @pvx-text-80;
        .fz(0.889rem, 1.333rem);
        .bold(700);

        .u-pvx-fb-data-entry-img-dark {
            display: none;
        }
    }

    .m-pvx-fb-number-card {
        margin: 0 1.111rem 0.889rem 1.111rem;
        padding: 0.889rem;
        .r(0.667rem);
        color: #fff;
        .fz(0.667rem, 1rem);

        .u-pvx-fb-number-card-title {
            .flex;
            gap: 0.111rem;
            align-items: center;
            .bold(400);
            .mb(0.222rem);

            img,
            .u-pvx-fb-number-icon {
                .size(0.667rem);
            }
        }

        .u-pvx-fb-number-card-value {
            .bold(700);
        }
    }

    .m-pvx-fb-number-card--face {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%), #ff7991;
    }

    .m-pvx-fb-number-card--body {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%), #79ceff;
    }

    .m-pvx-fb-author {
        margin: 0 1.111rem 0.889rem 1.111rem;
        background-color: @pvx-bg-white;
        .pr;
        .r(0.667rem);
        overflow: hidden;

        &::before {
            content: "";
            .pa;
            .size(100%, 9.375rem);
            .lt(0);
            .dbi;
            .z(1);
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
        }

        .u-pvx-fb-author-title {
            .pa;
            .lt(0.889rem);
            .fz(0.667rem, 1rem);
            .bold(700);
            .z(2);
            color: #fff;
        }

        img,
        .u-pvx-fb-author-bg {
            .size(100%, 8.75rem);
            object-fit: cover;
        }

        .u-pvx-fb-author-info-box {
            .flex;
            justify-content: space-between;
            padding: 0.667rem 0.889rem;

            .u-pvx-fb-author-name {
                color: @pvx-text-80;
                .fz(0.778rem, 1.111rem);
                .bold(700);
            }

            .u-pvx-fb-author-fans {
                color: @pvx-text-40;
                .fz(0.556rem, 0.889rem);
                .bold(400);
            }

            .u-pvx-fb-author-follow {
                .flex;
                .flex(o);
                padding: 0.222rem 0.444rem;
                .r(0.444rem);
                background: @pvx-mini-primary-bg;
                color: @pvx-mini-primary;
                .fz(0.556rem, 0.889rem);
            }
        }

        .u-pvx-fb-author-introduce {
            color: @pvx-text-40;
            .fz(0.667rem, 1rem);
            .bold(400);
            padding: 0 0.889rem 0.889rem 0.889rem;
        }
    }

    .m-pvx-fb-author-other {
        margin: 0 1.111rem 0.889rem 1.111rem;
        background-color: @pvx-bg-white;
        padding-bottom: 0.889rem;
        .r(0.667rem);

        .u-pvx-fb-author-other-title {
            color: @pvx-text-80;
            .fz(0.667rem, 1rem);
            .bold(700);
            padding: 0.889rem 0.889rem 0.667rem 0.889rem;
        }
    }
}
