@import "./grid_layout.less";
.m-pvx-book-list-head {
    .w(100%);
    .u-pvx-grid-layout;
    font-size: 14px;
    font-weight: bold;
    height: 2rem;
    margin-bottom: 16px;
    border-bottom: 1px dashed #d7dae2;
    column-gap: 8px;
    background-color: #fff;
    color: #666;
}

@media screen and (max-width: @phone) {
    .m-pvx-book-list-head {
        .none;
    }
}
