.m-serendipity {
    .m-panel-title {
        .u-txt {
            white-space: nowrap;
        }
        .u-server {
            .w(140px);
        }
    }
    .m-panel-actions {
        .u-more {
            color: @v4tip;
            .smooth;
            &:hover {
                .color(@v4primary);
            }
        }
    }

    .u-header{
        color:#888;
    }
    .u-list li {
        list-style: none;
        display: flex;
        .fz(14px,40px);
        border-bottom: 1px solid #eee;
        color:@color;
        span {
            .mr(30px);
            &:last-child {
                .mr(0);
            }
            flex: 1;
        }

        .u-server {
            .w(140px);
        }
        .u-name {
            .w(120px);
        }
        .u-time,
        .u-date {
            .w(100px);
        }

        &.u-header {
            border-bottom: 2px solid #e3e3e3;
        }
        &:last-child {
            border-bottom: 0;
        }
    }
}
