/**
 * 小程序体型列表页样式
 * 独立维护，不依赖 face 模块
 */

@import "../../common/face-body/miniprogram/index.less";

.m-body-list_mobile {
    &:extend(.m-pvx-mini-list-base all);

    .u-card-title {
        color: @fontColor;
    }

    @media (prefers-color-scheme: dark) {
        background-color: #000;

        .u-card-title {
            color: @fontColorLight;
        }
    }
}
