@import "~@/assets/css/common/drawer.less";
@fontcolor: rgba(28, 28, 28, 0.80);
@fontColor40: rgba(28, 28, 28, 0.4);
@fontColor-dark2: rgba(255, 255, 255, 0.8);
@fontColor-dark3: rgba(255, 255, 255, 0.4);

.v-miniprogram {
    .m-main {
        padding: 0;
    }

    body {
        padding: 0 !important;
    }

    .m-cut {
        .w(calc(100% - 1.5rem));
        margin: 0 auto;

        .u-cut-all {
            background: rgba(255, 255, 255, 0.05);
            color: @fontColor-dark2;
            .fz(1rem, 1.5rem);
            .bold(700);
            padding: 0.75rem 1rem;
            box-sizing: border-box;
            .r(0.75rem);
            .flex;
            .flex(o);
            .mb(1rem);

            &.is-active {
                background: #fedaa3;
                color: #24292e;
            }
        }

        .u-cut-box {
            .flex;
            align-content: center;
            justify-content: space-between;
            .mb(1rem);
            gap: 0.75rem;

            .u-cut-item {
                .w(calc(100% / 3));
                .flex;
                .flex(o);
                flex-direction: column;
                background: rgba(255, 255, 255, 0.05);
                color: @fontColor-dark2;
                padding: 0.75rem;
                box-sizing: border-box;
                .r(0.75rem);

                svg,
                path {
                    fill: @fontColor-dark2;
                    stroke: @fontColor-dark2;
                }

                &.is-active {
                    color: #24292e;
                    background: #fedaa3;

                    svg,
                    path {
                        fill: #24292e;
                        stroke: #24292e;
                    }
                }
            }
        }

        .u-cut-btn {
            .flex;
            .fz(1rem, 1.5rem);
            .bold(700);
            gap: 1.25rem;

            .u-report-btn {
                padding: 0.75rem 1rem;
                box-sizing: border-box;
                flex-shrink: 0;
                .r(0.75rem);
                background: rgba(255, 255, 255, 0.05);
                color: @fontColor-dark2;
            }

            .u-confirm-btn {
                flex: 1;
                padding: 0.75rem 1rem;
                box-sizing: border-box;
                .r(0.75rem);
                background: rgba(255, 255, 255, 0.05);
                color: @fontColor-dark3;
                .x;

                &.active {
                    background: #fedaa3;
                    color: #24292e;
                }
            }
        }
    }

    .m-no-body {
        .flex;
        .flex(o);
        flex-direction: column;

        .u-tips {
            color: @fontColor-dark3;
            .fz(0.875rem, 1.25rem);
            .bold(700);
            .flex;
            .flex(o);
        }

        .u-btn {
            .flex;
            .flex(o);
            .mt(1.25rem);
            padding: 0.75rem 1rem;
            gap: 0.5rem;
            align-self: stretch;
            .r(0.75rem);
            background: rgba(255, 255, 255, 0.1);
            color: @fontColor-dark3;
        }
    }

    .m-filtrate {
        padding: 0.75rem;
        box-sizing: border-box;

        .u-filtrate-title {
            .mb(0.75rem);
            color: rgba(255, 255, 255, 0.6);
        }

        .u-box {
            .flex;
            align-items: center;
            justify-content: space-between;
            .mb(0.75rem);
            gap: 0.5rem;
            flex-wrap: wrap;

            &.attr {
                height: 30vh;
                overflow-y: auto;
            }

            .u-item {
                .w(calc(calc(100% - 1rem) / 3));
                flex-shrink: 0;
                color: #fff;
                .fz(0.875rem, 1.25rem);
                .bold(400);
                background: rgba(255, 255, 255, 0.05);
                color: @fontColor-dark2;
                .r(0.75rem);

                .flex;
                .flex(o);
                padding: 0.5rem;
                box-sizing: border-box;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &.active {
                    color: #24292e;
                    background: #fedaa3;
                }
            }
        }

        .u-btn {
            .flex;
            .fz(1rem, 1.5rem);
            .bold(700);
            gap: 1.25rem;

            .u-report-btn {
                padding: 0.75rem 1rem;
                box-sizing: border-box;
                flex-shrink: 0;
                .r(0.75rem);
                background: rgba(255, 255, 255, 0.05);
                color: @fontColor-dark2;
            }

            .u-confirm-btn {
                flex: 1;
                padding: 0.75rem 1rem;
                box-sizing: border-box;
                .r(0.75rem);
                background: rgba(255, 255, 255, 0.05);
                color: @fontColor-dark3;
                .x;

                &.active {
                    background: #fedaa3;
                    color: #24292e;
                }
            }
        }
    }
}

.p-pvx-horse-mobile {
    background: #fafafa;
    height: 100vh;
    padding: 0.45rem 1.25rem 4.45rem 1.25rem;
    box-sizing: border-box;
    overflow: auto;

    .m-base {
        .w(100%);
    }

    .m-suspend-btn {
        .flex;
        align-items: center;

        .u-btn-item {
            .flex;
            .flex(o);
            gap: 0.5rem;
            flex: 1;

            &.line {
                border-right: 0.5px solid rgba(254, 218, 163, 0.2);
            }

            .u-icon {
                .size(1.25rem, 1.25rem);

                svg,
                path {
                    fill: #fedaa3;
                    stroke: #fedaa3;
                }
            }
        }
    }

    .m-title {
        color: @fontColor;
        .fz(1rem, 1.5rem);
        .bold(700);
        .mb(0.5rem);
    }

    .m-pvx-horse-card {
        .flex;
        gap: 0.75rem;
        flex-wrap: wrap;
        .mb(1.5rem);

        .u-item {
            padding: 0.5rem;
            box-sizing: border-box;
            .w(calc(calc(100% - 1.5rem) / 3));
            .flex;
            flex-direction: column;
            background: #fff;
            .r(0.25rem);

            .u-pvx-horse-img {
                .w(100%);
                border-radius: 0.25rem;
                background: #aaa;
                .mb(0.5rem);
                border: 1px solid #ff2dff;
            }

            .u-pvx-horse-name {
                color: @fontColor;
                .fz(0.875rem, 1.25rem);
                .bold(700);
                font-style: normal;
            }

            .u-id {
                color: @fontColor40;
                .fz(0.625rem, 0.938rem);
                font-style: normal;
                .bold(400);
            }
        }
    }

    .m-harness-card {
        .flex;
        gap: 0.75rem;
        flex-wrap: wrap;
        .mb(1.5rem);

        .u-harness-item {
            padding: 0.5rem;
            box-sizing: border-box;
            .w(calc(calc(100% - 0.75rem) / 2));
            .flex;
            gap: 0.5rem;
            .flex(o);
            background: #fff;
            .r(0.25rem);

            .u-info {
                .w(calc(calc(100% - 38px) - 0.5rem));
                .flex;
                flex-direction: column;
                justify-content: center;
            }

            .u-pvx-horse-name {
                color: @fontColor;
                .fz(0.875rem, 1.25rem);
                .bold(700);
                font-style: normal;
                .w(100%);
                overflow: hidden;
                white-space: nowrap;
            }

            .u-id {
                .mt(0.25rem);
                color: @fontColor40;
                .fz(0.625rem, 0.938rem);
                font-style: normal;
                .bold(400);
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    .p-pvx-horse-mobile {
        background-color: #000;

        .m-title {
            color: @fontColor-dark2;
        }

        .m-pvx-horse-card {
            .u-item {
                background: #282828;

                .u-pvx-horse-img {
                    border-color: #555;
                }

                .u-pvx-horse-name {
                    color: @fontColor-dark2;
                }

                .u-id {
                    color: @fontColor-dark3;
                }
            }
        }

        .m-harness-card {
            .u-harness-item {
                background: #282828;

                .u-pvx-horse-name {
                    color: @fontColor-dark2;
                }

                .u-id {
                    color: @fontColor-dark3;
                }
            }
        }

        .m-suspend-btn {
            .u-btn-item {
                .line {
                    border-color: rgba(254, 218, 163, 0.1);
                }
            }
        }
    }
}
