/**
 * 小程序脸型列表页样式
 */

@import "../../common/face-body/shared/mini-list.less";

.m-face-list_mobile {
    &:extend(.m-pvx-mini-list-base all);

    .u-card-title {
        color: @pvx-mini-text;
    }

    @media (prefers-color-scheme: dark) {
        background-color: @pvx-dark-bg;

        .u-card-title {
            color: @pvx-mini-text-dark;
        }
    }
}
