/**
 * Body 数据展示页样式
 * 
 * @description 体型数据展示页面样式（小程序端）
 */

@import "~@/assets/css/common/face-body/index.less";

.c-facedat {
    .h(100vh);
    overflow: auto;
    padding: 20px;
    box-sizing: border-box;
}

.m-body-list_mobile__tabs {
    .flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;

    .u-tab_item {
        color: @pvx-text-40;
        .fz(18px, 28px);
        .bold(700);
        .mb(20px);

        &.is-active {
            color: @pvx-dark-surface;
            border-bottom: 2px solid @pvx-dark-surface;
        }
    }
}

.c-facedat-preivew {
    overflow: auto;
    height: calc(100vh - 73px);
    padding: 0 8px 10px 8px;
    box-sizing: border-box;
}

.c-facedat-group {
    .u-title {
        .bold;
        .fz(15px, 2);
        flex-shrink: 0;
        width: 220px;
    }

    .u-list {
        list-style: none;
        padding: 0;
        .mb(10px);
        .mt(0px);

        li {
            padding: 5px 8px;
            .flex;
            flex-flow: row;
        }

        label,
        span {
            .fz(14px);
        }

        label {
            .mr(10px);
            font-weight: normal;
            .w(80px);
            color: #000;
            .x(left);
        }

        .x(right);

        input,
        .u-range {
            flex: 1;
            .mr(5px);
        }

        span {
            .w(50px);
            .mr(10px);
            .nobreak;
            .bold;
            color: #5856d6;
            .x(right);
        }
    }
}

@media (prefers-color-scheme: dark) {
    .c-facedat {
        background-color: @pvx-dark-bg;
    }

    .m-body-list_mobile__tabs {
        .u-tab_item {
            color: @pvx-dark-text-80;

            &.is-active {
                color: @pvx-bg-white;
                border-bottom: 2px solid @pvx-bg-white;
            }
        }
    }

    .c-facedat-group {
        .u-list {
            label {
                color: @pvx-dark-text-80;
            }
        }
    }
}
