@import "~@/assets/css/common/face-body/index.less";

.m-pvx-navigation {
    .pvx-navigation-mixin();
    
    .m-pvx-type-btn-box {
        .u-pvx-btn {
            background-color: @bodyColor;
            border-color: @bodyColor;
        }
    }
}

.m-pvx-header {
    .pvx-header-mixin();
}

.m-pvx-type-content {
    .pvx-content-mixin();
}

.m-pvx-single-data {
    .pvx-single-data-mixin();
}

.m-pvx-single-data-title {
    .pvx-single-data-title-mixin();
}

.m-pvx-files-list {
    .pvx-files-list-mixin();
}

.m-pvx-single-buy-box {
    .pvx-single-buy-box-mixin();
}

.m-pvx-type-pay {
    .pvx-pay-mixin();
}

.m-pvx-single-pics {
    .pvx-single-pics-mixin();
}

.m-pvx-type-buy-btn {
    .pvx-buy-btn-mixin();
}

.m-pvx-type-files-list {
    .pvx-files-list-mixin();
}

.m-pvx-author {
    .pvx-author-mixin();
}

.u-pvx-about-author {
    .pvx-about-author-mixin();
}

.m-pvx-author-header {
    .pvx-author-header-mixin();
}

.m-pvx-random-list {
    .pvx-random-list-mixin();
    .pvx-random-list-extra-mixin();
}

.m-pvx-type-pic {
    .pvx-pic-mixin();
}

.m-pvx-thx {
    .pvx-thx-mixin();
}

.pvx-carousel-mixin();
.pvx-facedat-preview-mixin();

.m-pvx-desc {
    .pvx-desc-mixin();
}

// 体型详情页随机推荐列表样式
.p-pvx-body-single .m-pvx-random-list {
    .u-pvx-list {
        .m-pvx-type-item {
            width: 190px;
            height: 368px;

            .m-pvx-img {
                height: 264px;
                width: 100%;
            }

            .u-pvx-pic {
                .size(100%);
            }

            &.is-no-name {
                .h(340px);
            }
        }
    }
}

.p-pvx-body-single h3 {
    .fz(28px, 1);
    margin: 0;
    font-weight: 700;
    line-height: 40.54px;
    color: rgba(36, 41, 46, 1);
}

// 体型详情页列表项宽度统一设置
.p-pvx-body-single .m-pvx-type-item {
    width: 190px;
}

.m-pvx-type-download {
    .pvx-download-mixin();
}

.w-thx {
    .pvx-w-thx-mixin();
}

.u-pvx-tips-off {
    .pvx-tips-off-mixin();
}

.pvx-responsive-ipad-single-mixin();
.pvx-responsive-phone-single-mixin();
.pvx-animation-mixin();
