@import "./grid_layout.less";
@import "./pop.less";

.m-horse-item {
    .pointer;
    .fz(14px);
    .r(6px);
    border: 1px solid #eee;
    background-color: @bg-light;
    .mb(20px);
    min-height: 120px;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    .grid-layout;

    @media screen and (max-width: @phone) {
        &>.u-level {
            .none;
        }

        &>div {
            .mb(12px);
        }

        display: block;
        padding: 12px 6px;
    }

    &:hover {
        background: #e86f0019;
        color: #d16400;
        border: 1px #e86f00 solid;
        box-shadow: 0px 0px 10px rgba(232, 111, 0, 0.4);
    }

    .u-map {
        padding: 0 16px;
    }

    .u-name-icon {
        img {
            max-height: 76px;
        }
    }

    .u-name {
        .u-name-title {
            .flex(o);
            width: 100%;
            .bold;
            .fz(16px);
        }

        .u-name-type {
            .size(26px);
            .mt(-6px);
            .mr(8px);
        }

        .u-name-school {
            .size(30px);
            .mt(-6px);
            .ml(8px);
        }

        .u-name-id {
            .fz(12px);
            line-height: 2;
            color: #909399;
            font-weight: normal;
            display: inline-block;
            text-align: center;
        }


    }

    .u-attr-icon {
        .w(36px);
    }

    .u-attr-wrap {
        .flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;

        .u-attr {
            margin: 2px;
        }
    }
}
