.horse-list-wrapper {
    .pr;
    
    .operate-wrap {
        .pf;
        .rt(88px, 20px);
        .z(5);
        .flex;
        justify-content: flex-end;
        align-items: center;
        
        .list-type-wrapper {
            .flex;
            justify-content: flex-end;
            align-items: center;
            .r(30px);
            padding: 3px;
            background-color: #fff;
            
            .list-type-item {
                .fz(13px);
                background-color: #fff;
                color: #bbb;
                padding: 5px 15px;
                text-align: center;
                .pointer;
                
                &:hover {
                    .bold;
                    color: @active-color;
                }
                
                &:first-of-type {
                    .border-radius-l(30px);
                }
                
                &:last-of-type {
                    .border-radius-r(30px);
                }
                
                &.active {
                    .bold;
                    color: #fff;
                    .r(30px);
                    background: @active-color;
                }
            }
        }
    }
    
    .horse-list-content {
        .mt(48px);
        
        .horse-list {
            .pr;
            .w(100%);
            
            &.card-wrap {
                .list-content {
                    .pr;
                    .flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 20px;
                    
                    .more-btn {
                        .w(100%);
                    }
                    
                    &.line-list-content {
                        justify-content: flex-start;
                        flex-wrap: nowrap;
                        
                        img {
                            .max-w(160px) !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: @ipad) {
    .horse-list-wrapper {
        .horse-list-content {
            .mt(120px);
            
            .horse-title-wrap {
                .p(0);
            }
            
            .list-content {
                justify-content: center !important;
            }
        }
    }
}

@media screen and (max-width: @phone) {
    .horse-list-wrapper {
        .horse-list-content {
            .mt(84px);
            
            .horse-title-wrap {
                .p(0);
            }
        }
    }
}
