.m-pvx-facedata {
    padding: 20px;
}

.m-pvx-fb-parse__title {
    font-weight: 300;
    .x;
}

@media screen and (max-width: @phone) {
    .m-pvx-fb-parse__title {
        .fz(18px);
    }
}

.m-pvx-fb-parse {
    max-width: 980px;
    .auto(x);
    min-height: 400px;
    margin-top: 150px;

    &.on {
        margin-top: 0;
    }
}

.m-pvx-fb-parse__upload {
    padding: 20px;
    .x;
    .r(@pvx-radius-pill);
    border: 1px solid @pvx-border-color;
    background: #fff;
    box-shadow: @pvx-shadow-light;

    .u-pvx-input {
        .none;
    }

    .u-pvx-status {
        a:hover {
            box-shadow: 0 1px 0 @primary;
        }
    }
}

.m-pvx-fb-parse__notsupport {
    .mt(20px);
}

.m-pvx-fb-parse__preview {
    .mt(20px);
    min-height: calc(100vh - 500px);
    background: #fff;
    padding: 20px;
    .r(@pvx-radius-pill);
    border: 1px solid @pvx-border-color;
    box-shadow: @pvx-shadow-light;
}

.m-pvx-facedata {
    min-height: calc(100vh - @header-height - @bread-height - 100px);
}
